.header-view-components {
  display: flex;
}

.header-view-components div:not(.user-component) {
  height: 50px;
  padding: 15px 10px 0px 10px;
}

.header-view-components div:hover {
  background: #53E374;
  color: black;
  cursor: pointer;
}

.test-component, .view-component {
  font-size: 1em;
  color: #90DCA2;
}

.manangement-component, .document-component, .help-component, .user-component {
  color: white;
}

.user-component {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  background: black;
  border: 1px solid black;
  position: absolute;
  right: 0;
}
